<body class="bg-dark vh100">

    <div class="container">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header">Login</div>
        <div class="card-body">
          <form [formGroup]="data">

            <div class="form-group">
              <div class="form-label-group">
                <label for="inputEmail">Email address</label>
                <input type="email" id="inputEmail" [(ngModel)]=d class="form-control" placeholder="Email address" required autofocus="autofocus" formControlName="email">
              </div>
            </div>

            <div class="form-group">
              <div class="form-label-group">
                <label for="inputPassword">Password</label>
                <input type="password" id="inputPassword" onchange="add()" class="form-control" placeholder="Password" required="required" formControlName="password">
              </div>
            </div>

            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="remember-me">
                  Remember Password
                </label>
              </div>
            </div>
            <a class="btn btn-primary btn-block"  [routerLink]="['../dashbord']" (click)=add()>Login</a>
            <span *ngIf="d=='velu@123'">admin</span> 
            <span *ngIf="d!='velu@123' && d !=''"  >player</span>  
            {{v}}
          </form>
          <div class="text-center">
            <a class="d-block small mt-3" [routerLink]="['../']" href="" >Register an Account</a>
            <a class="d-block small" >Forgot Password?</a>
          </div>
        </div>
      </div>
    </div>

</body>
  