<link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Girassol&display=swap" rel="stylesheet">
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 d-flex justify-content-center vh-100 bgc">
                <div class="row">
                    <div class="col-xl-12">
                     
                            <h1 class="text-dark heading">Tasks to be done</h1>
                    
                        <div class="card bg" style="width: 25rem;">
                            <div class="card-body">
                                <div class="card-title">
                                    <h3>Task from parent</h3>
                                </div>
                                <div class="card-text content">The task from your parent will be displayed here</div>
                                <a  class="btn btn-primary" onclick="alert('Task status')">Click</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 d-flex justify-content-center vh-100 bgc">
                <div class="row">
                    <div class="col-xl-12">
                    
                        <h1 class="text-dark heading">Assign a task to Child</h1>
                    
                   
                        <form action="" class="content">
                            <label for="">Write task :</label>
                            <textarea style="width: 25rem;">
                            </textarea>
                            <br>
                            <label for="">Extra Info :</label>
                            <input type="text" style="width: 25rem;">
                            <br>
                            <label for="">Start date :</label>
                            <input type="date">
                            <br>
                            <label for="">Dead line :</label>
                            <input type="date">
                            <br>
                            <input type="submit" class="bg-primary">
                        </form>
                    </div>
                    <div class="col-xl-12">
                        <ul style="list-style-type:none">
                            <li><input type="checkbox">Task1</li>
                            <li><input type="checkbox">Task2</li>
                            <li><input type="checkbox">Task3</li>
                        </ul>
                    </div>
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <td>

                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
